body {
  font-family: Arial, sans-serif;
 background-color: #fcfcfc; 
 margin: 0;
  
  color: #333;
}

header {
  background-image: url("/images/campus.png");
      background-size: cover;      /* prend toute la largeur */
      background-position: center; 
      background-repeat: no-repeat;
      height: 300px;      
  color: rgb(39, 46, 107);
  padding: 30px;
  text-align: center;
}

.events {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h3 {
  margin-top: 0;
  color: #1e88e5;
}

.date {
  font-weight: bold;
  margin-bottom: 10px;
}

.presentation {
  background: white;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
}
